<div>
    <h2>Fitnessevents</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="fitnessevent.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Fitnessevent
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <tr>
                <th>
                    <button ng-click="sortBy('name')">Name<span class = "glyphicon glyphicon-sort-by-alphabet"></span></button>
                    <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>

                <th>
                    <button ng-click="sortBy('Description')">Description<span class = "glyphicon glyphicon-sort-by-alphabet"></span></button>
                    <span class="sortorder" ng-show="propertyName === 'Description'" ng-class="{reverse: reverse}"></span>
                </th>

                <th>
                    <button ng-click="sortBy('Location')">Location<span class = "glyphicon glyphicon-sort-by-alphabet"></span></button>
                    <span class="sortorder" ng-show="propertyName === 'Location'" ng-class="{reverse: reverse}"></span>
                </th>

                <th>
                    <button ng-click="sortBy('Starttime')">Start time<span class = "glyphicon glyphicon-sort-by-alphabet"></span></button>
                    <span class="sortorder" ng-show="propertyName === 'Starttime'" ng-class="{reverse: reverse}"></span>
                </th>

                <th>
                    <button ng-click="sortBy('Endtime')">End time<span class = "glyphicon glyphicon-sort-by-alphabet"></span></button>
                    <span class="sortorder" ng-show="propertyName === 'Endtime'" ng-class="{reverse: reverse}"></span>
                </th>

                <th>
                    <button ng-click="sortBy('Organiser')">Organiser<span class = "glyphicon glyphicon-sort-by-alphabet"></span></button>
                    <span class="sortorder" ng-show="propertyName === 'Organiser'" ng-class="{reverse: reverse}"></span>
                </th>
                <th><span>Attending</span></th>
                <th></th>
            </tr>
            <tr ng-repeat="fitnessevent in vm.fitnessevents | orderBy:propertyName:reverse track by fitnessevent.id">
                <td>{{fitnessevent.name}}</td>
                <td>{{fitnessevent.description}}</td>
                <td>{{fitnessevent.location}}</td>
                <td>{{fitnessevent.starttime | date:'medium'}}</td>
                <td>{{fitnessevent.endtime | date:'medium'}}</td>
                <td>
                    {{fitnessevent.organiser.login}}
                </td>
                <td>
                    <span ng-repeat="attending in fitnessevent.attendings">
                        {{attending.}}{{$last ? '' : ', '}}
                    </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="fitnessevent-detail({id:fitnessevent.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="fitnessevent.edit({id:fitnessevent.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="fitnessevent.delete({id:fitnessevent.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
